server:
  port: 9091

management:
  health:
    binders:
      enabled: false
  endpoint:
    health:
      show-details: always
    metrics:
      access: read_only
    prometheus:
      access: read_only
  endpoints:
    web.exposure.include: health, info, prometheus, workingstatus
  metrics:
    enable:
      all: false  # Disable all metrics by default
      fibra: true
      application: true
    tags:
      application: das-simulator-app
  prometheus: # Note that the number of actual data is limited by the number of metrics enabled
    metrics.export.enabled: true
spring:
  application.name: das-simulator

das:
  producer:
    vendorCode: ${VENDOR_CODE:Simulator}
    amplitudesPrPackage: ${PACKAGE_SIZE:8192}
    initiatorserviceUrl: ${INITIATOR_URL:http://localhost:8080}
    acquisitionStartVersion: ${ACQUISITION_START_VERSION:V2}
    initiatorserviceApiKey: ${INITIATOR_API_KEY}
    overrideBootstrapServersWith: ${KAFKA_SERVER_OVERRIDE:}
    overrideSchemaRegistryWith: ${SCHEMA_REGISTRY_URL_OVERRIDE:}
    variant: ${VARIANT_PLUGIN:SimulatorBoxUnit}
    httpConnectTimeout: ${DAS_PRODUCER_HTTP_CONNECT_TIMEOUT:5s}
    httpReadTimeout: ${DAS_PRODUCER_HTTP_READ_TIMEOUT:10s}
    healthCheckTimeout: ${DAS_PRODUCER_HEALTHCHECK_TIMEOUT:5m}
    healthCheckInterval: ${DAS_PRODUCER_HEALTHCHECK_INTERVAL:5s}
    shutdownSleep: ${DAS_PRODUCER_SHUTDOWN_SLEEP:1s}
    remoteControl:
      enabled: ${REMOTE_CONTROL_ENABLED:false}
      apiKey: ${REMOTE_CONTROL_API_KEY:}
      profilesDirectory: ${REMOTE_CONTROL_PROFILES_DIR:remote-control-profiles}
    box:
      simulator:
        amplitudeDataType: ${AMPLITUDE_DATA_TYPE:float}
        numberOfShots: ${NUMBER_OF_SHOTS:-1}
        secondsToRun: ${SECONDS_TO_RUN:240}
        pulseRate: ${PULSE_RATE:10000}
        maxFreq: ${MAX_NYQ_FREQ:5000}
        minFreq: ${MIN_NYQ_FREQ:0}
        boxUUID: ${BOX_UUID}
        opticalPathUUID: ${OPTICAL_PATH_UUID}
        spatialSamplingInterval: ${SPATIAL_SAMPLING_INTERVAL:1.1}
        pulseWidth: ${PULSE_WIDTH:100.50}
        startLocusIndex: ${START_LOCUS_INDEX:0}
        disableThrottling: ${DISABLE_THROTTLING:0}
        gaugeLength: ${GAUGE_LENGTH:10.209524}
        numberOfLoci: ${NUMBER_OF_LOCI}
        numberOfPrePopulatedValues: ${NUMBER_OF_PREPOPULATED_VALUES:100}
        amplitudesPrPackage: ${PACKAGE_SIZE:8192}
        startTimeEpochSecond: ${START_TIME_EPOCH_SECOND:0}
        timePacingEnabled: ${TIME_PACING_ENABLED:true}
        timeLagWarnMillis: ${TIME_LAG_WARN_MS:500}
        timeLagDropMillis: ${TIME_LAG_DROP_MS:2000}
        timingLogInterval: ${SIMULATOR_TIMING_LOG_INTERVAL:30s}
      static:
        amplitudeDataType: ${AMPLITUDE_DATA_TYPE:float}
        numberOfShots: ${NUMBER_OF_SHOTS:-1}
        secondsToRun: ${SECONDS_TO_RUN:120}
        maxFreq: ${MAX_NYQ_FREQ:5000}
        boxUUID: ${BOX_UUID}
        opticalPathUUID: ${OPTICAL_PATH_UUID}
        disableThrottling: ${DISABLE_THROTTLING:0}
        numberOfLoci: ${NUMBER_OF_LOCI}
        amplitudesPrPackage: ${PACKAGE_SIZE:8192}
        startTimeEpochSecond: ${START_TIME_EPOCH_SECOND:0}
        timePacingEnabled: ${TIME_PACING_ENABLED:true}
        timeLagWarnMillis: ${TIME_LAG_WARN_MS:500}
        timeLagDropMillis: ${TIME_LAG_DROP_MS:2000}
        timingLogInterval: ${STATIC_TIMING_LOG_INTERVAL:30s}
    kafka:
      producerInstances: ${DAS_PRODUCER_KAFKA_PRODUCER_INSTANCES:2}
      relayQueueCapacity: ${DAS_PRODUCER_KAFKA_RELAY_QUEUE_CAPACITY:100}
      relayEnqueueTimeoutMillis: ${DAS_PRODUCER_KAFKA_RELAY_ENQUEUE_TIMEOUT_MILLIS:0}
      relayEnqueueWarnMillis: ${DAS_PRODUCER_KAFKA_RELAY_ENQUEUE_WARN_MILLIS:1000}
      senderCloseTimeout: ${DAS_PRODUCER_KAFKA_SENDER_CLOSE_TIMEOUT:1s}
      relayShutdownTimeout: ${DAS_PRODUCER_KAFKA_RELAY_SHUTDOWN_TIMEOUT:10s}
      config:
        client.id: ${DAS_PRODUCER_KAFKA_CONFIG_CLIENT_ID:Simulator}
        acks: ${DAS_PRODUCER_KAFKA_CONFIG_ACKS:1}
        batch.size: ${DAS_PRODUCER_KAFKA_CONFIG_BATCH_SIZE:500000}
        buffer.memory: ${DAS_PRODUCER_KAFKA_CONFIG_BUFFER_MEMORY:33554432}
        compression.type: ${DAS_PRODUCER_KAFKA_CONFIG_COMPRESSION_TYPE:none}
        linger.ms: ${DAS_PRODUCER_KAFKA_CONFIG_LINGER_MS:0}
        max.request.size: ${DAS_PRODUCER_KAFKA_CONFIG_MAX_REQ_SIZE:1048576}
        max.block.ms: ${DAS_PRODUCER_KAFKA_CONFIG_MAX_BLOCK_MS:60000}
        max.in.flight.requests.per.connection: ${DAS_PRODUCER_KAFKA_CONFIG_MAX_IN_FLIGHT_REQUESTS_PER_CONNECTION :5}
        send.buffer.bytes: ${DAS_PRODUCER_KAFKA_CONFIG_SEND_BUFFER_BYTES:-1}
